@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "open sans", sans-serif;
  /* margin: 2.1rem 1.9rem; */
  color: rgba(0, 0, 0, 0.8);
  position: relative;
  padding: 2.1rem 1.9rem;
}


header, main {
  max-width: 732px;
  margin: 5rem auto;
  word-break: break-word;
}

.main-header {
  font-weight: 700;
  letter-spacing: -.5px;
  font-size: 3.2rem;
  line-height: 3.4rem;
  margin-bottom: 1rem;
}

time {
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #79828B;
  font-weight: 400;
  
}

img{
  max-width: 100%;
}

figure {
  /* margin: 2.1rem 1.2rem; when switch to large screen */
  text-align: center;
  margin-top: 1rem; 
}

/* main {
  display: grid;
  row-gap: 2rem;
} */

h3 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.6;
  /* margin-bottom: 1rem; */
}

p {
  font-size: 1.5rem;
  line-height: 1.6;
}

ul {
  display: grid;
  row-gap: 1.2rem;
  /* margin-left: 1.3rem; */
  list-style-position: inside;
  
}

li {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 500;

}

li::marker {
  font-size: 1.9rem;
}

.misyon, .kurallar {
  text-align: center;
  margin-top: 4rem;
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 1.6;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid rgb(185, 79, 79);
  margin: 4rem 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

section h3:not(:first-child){
  margin-top: 2rem;
  /* background-color: green; */
}

section {
  display: grid;
  row-gap: 2rem;
}

.context{
  margin-top: -0rem !important;
}

footer{
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  background-color: rgb(185, 79, 79);
}

footer p {
  text-align: center;
  font-size: 1.3rem;
  color: #eee;
}

a{
  color: #eee;
  transition: all 0.5s ease;
}

a:hover{
  color: #9EB23B;
}